{% load static%} <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBlog | Início</title>
    <link rel="stylesheet" href="{% static "home.css" %}">
</head>
<body>

    <header>
        <h1>DevBlog</h1>
        <p>Compartilhando aprendizados em tecnologia e código.</p>
    </header>

    <main class="container">
        <div class="grid-posts">
            
            <article class="card">
                <h2><a href="#">Entendendo Decorators em Python</a></h2>
                <div class="meta">Publicado em 12 de Abril</div>
                <!-- <p>{{ post.resumo }}</p> -->
                <p>Descubra como os decorators podem deixar seu código mais limpo e reutilizável, adicionando funcionalidades de forma elegante.</p>
                <a href="{% url 'blog' %}" class="leia-mais">Ler artigo completo &rarr;</a>
            </article>

            <article class="card">
                <h2><a href="#">Primeiros passos com FastAPI</a></h2>
                <div class="meta">Publicado em 10 de Abril</div>
                <p>Uma introdução prática para criar sua primeira API de alta performance usando Python e FastAPI em poucos minutos.</p>
                <a href="#" class="leia-mais">Ler artigo completo &rarr;</a>
            </article>

            
            {% block posts %}
                {%for post in posts%}
                    {% include 'home/post_block.html'%}
                {% endfor %}
            {% endblock posts %}
                
            


            
        </div>
    </main>

</body>
</html>